
/* ===== Font Family Link ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}


/* ===== Header Top Section CSS ===== */
/* ===== Header Top Section CSS ===== */
.header{
    background: #e4e4e4;
}
.header .header-top{
    display: flex;
    padding: 0 10%;
    justify-content: space-between;
}
.header .header-top .left-content {
    align-items: center;
}
.header .header-top .left-content a img{
    width: 200px;
    padding: 15px 0;
}
.header .header-top .right-content{
    display: flex;
    align-items: center;
}
.header .header-top .right-content .hea-box{
    margin: 0 10px;
    padding: 8px 10px;
    border-radius: 15px 0 15px 0;
}
.header .header-top .right-content .hea-box i{
    padding-right: 8px;
}
.header .header-top .right-content .hea-box a{
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}
.header .header-top .right-content .hea-sub{
    background: #3A9CD6;
    margin: 0 10px;
    padding: 4px 10px;
    border-radius: 15px 0 15px 0;
}
.header .header-top .right-content .hea-sub i{
    padding-right: 8px;
    color: white;
    font-size: 14px;
}
.header .header-top .right-content .hea-sub a{
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
}



/* ===== Header Navbar Section CSS ===== */
/* ===== Header Navbar Section CSS ===== */
.header .navbar{
    padding: 0 10%;
}
.header .navbar .container-fluid{
    padding: 0;
}
.header .navbar .container-fluid .collapse .navbar-nav .nav-item{
    padding: 20px 20px;
}



/* ===== Home Section CSS ===== */
/* ===== Home Section CSS ===== */
.home .carousel .carousel-inner{
    height: 83vh;
}
.home .carousel .carousel-inner .carousel-item img{
    background-size: cover;
}
.home .carousel .carousel-inner .carousel-item .carousel-caption{
    top: 25%;
}



/* ===== Staf Section CSS ===== */
/* ===== Staf Section CSS ===== */
.staf{
    background: aliceblue;
}
.staf .container .row{
    padding: 4rem 0;
}
.staf .container .row .staf-box{
    display: flex;
    align-items: center;
    padding: 2rem 0;
}
.staf .container .row .staf-box .content-wrap .content h2{
    padding-bottom: 40px;
    font-size: 45px;
    font-weight: 500;
    line-height: 1.1em;
    color: #3A9CD6;
}
.staf .container .row .staf-box .content-wrap .content p{
    padding-right: 40px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6em;
}
.staf .container .row .staf-box .content-wrap .content img{
    width: 100%;
}




/* ===== Services We Provide Section CSS ===== */
/* ===== Services We Provide Section CSS ===== */
.services{
    background: #fff;
    padding: 4rem 0;
}
.services .container .row{
    gap: 40px;
    justify-content: space-between;
}
.services .container .row h2{
    font-size: 21px;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}
.services .container .row .servi-box{
    min-width: 400px;
    background: #ffffff;
    padding: 40px 20px;
    box-shadow: 0px 0px 35px -20px rgba(0, 0, 0, 0.8);
}
.services .container .row .servi-box .icons{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.services .container .row .servi-box .icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background: #3A9CD6;
    border-radius: 50%;
}
.services .container .row .servi-box .icons a i{
    font-size: 30px;
    color: black;
}
.services .container .row .servi-box .content h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}
.services .container .row .servi-box .content p{
    text-align: center;
}



/* ===== Staffline Bangladesh At a Glance! Section CSS ===== */
/* ===== Staffline Bangladesh At a Glance! Section CSS ===== */
.glance{
    background: aliceblue;
}
.glance .container .row{
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}
.glance .container .row .glance-box{
    padding: 2rem 1rem;
}
.glance .container .row .glance-box .content-wrap .content img{
    width: 100%;
}




/* ===== Contact Section CSS ===== */
/* ===== Contact Section CSS ===== */
.contact {
    background: #818486;
    padding: 4rem 0;
}
.contact .container .row .contact-wrap .content-box{
    display: flex;
}
.contact .container .row .contact-wrap .content-box .icons{
    width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.contact .container .row .contact-wrap .content-box .content{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.contact .container .row .contact-wrap .content-box .content h3{
    font-size: 22px;
    color: #3A9CD6;
}
.contact .container .row .contact-form{
    background: #ffffff;
    padding: 2rem;
}
.contact .container .row .contact-form .c-form h2{
    font-size: 30px;
    color: #3A9CD6;
    width: 500;
}
.contact .container .row .contact-form .c-form .input-box{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contact .container .row .contact-form .c-form .input-box input,
.contact .container .row .contact-form .c-form .input-box textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contact .container .row .contact-form .c-form .input-box samp{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contact .container .row .contact-form .c-form .input-box input:focus ~ samp,
.contact .container .row .contact-form .c-form .input-box input:valid ~ samp,
.contact .container .row .contact-form .c-form .input-box textarea:valid ~ samp,
.contact .container .row .contact-form .c-form .input-box textarea:valid ~ samp{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contact .container .row .contact-form .c-form .input-box input[type="submit"]{
    width: 100px;
    background: #3A9CD6;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}