
/*=================================================
    =====> Max-Width: 992px Screen Start <=====
===================================================*/
@media only screen and (max-width: 1399px) {
    .training .container-wrapper .container .row .col-lg-4{
        margin: 0 10px;
    }
    .heading .navbar .collapse{
        padding: 0 10px;
    }

}
@media only screen and (max-width: 992px) {
    .sticky{
        height: 63px;
        position: fixed !important;
        top: 0 !important;
        width: 100% !important;
        background: var(--text-white);
    }
    .heading-top{
        display: none;
    }
    .dropdown .dropdown-menu{
        display: block;
        border: none;
    }
    .heading .navbar{
        padding: 0;
    }
    .heading .navbar .container-fluid {
        padding: 14px 30px;
        /* background: var(--primary-color); */
        background: var(--text-white);
    }
    .heading .navbar .container-fluid img{
        width: 60px !important;
        height: 60px;
        display: flex;
        left: 45%;
        top: 5px;
        position: absolute;
        padding: 2px 0;
    }
    .container-fluid .collapse .navbar-nav{
        padding: 1rem 0;
    }
    .heading .navbar .collapse .navbar-nav .nav-item{
        transition: none;
    }
    .heading .navbar .collapse .navbar-nav{
        padding-bottom: 0;
    }
    .heading .navbar .collapse .navbar-nav .nav-item{
        border-bottom: 1px solid var(--text-gray);
    }
    .heading .navbar .collapse .navbar-nav .nav-item .nav-link{
        border-right: none;
        padding: 10px 0;
    }
    .heading-top .container-wrapper .container .row .content{
        justify-content: center;
    }
    .heading-top .container-wrapper .container .row .content .text{
        display: none;
    }


    .home .container-wrapper .container-fluid .carousel .carousel-inner .carousel-item .carousel-caption h5{
        font-size: 20px;
    }
    .home .container-wrapper .container-fluid .carousel .carousel-inner .carousel-item .carousel-caption p{
        font-size: 16px;
    }
    .home .container-wrapper .container-fluid .carousel .carousel-inner .carousel-item .carousel-caption img{
        width: 100px;
        margin-bottom: 10px;
    }
    .home .container-wrapper .container-fluid .carousel .carousel-inner .carousel-item .carousel-caption{
        top: 5%;
    }

    

    .client .container-wrapper .container .row{
        justify-content: center;
    }
    .client .container-wrapper .container .row .col-lg-4{
        margin: 15px;
    }

    .contact .container-wrapper .container .row .form-wrapper form .col-lg-7{
        width: 80%;
    }


    .safety-sign .container-wrapper .container .row {
        justify-content: center;
    }
    .safety-sign .container-wrapper .container .row .col-lg-3{
        justify-content: center !important;
        width: 30%;
    }

    .training .container-wrapper .container .row{
        justify-content: center;
    }
    .training .container-wrapper .container .row .col-lg-4{
        display: flex;
        justify-content: center;
    }

    .safety-sign .container-wrapper .container .row .col-lg-3 img{
        width: 150px;
    }
}



@media only screen and (max-width: 768px) {

    *{
        margin: 0;
        padding: 0;
    }
    .home .container-wrapper .container .row .content h2{
        font-size: 150%;
    }
    .home .container-wrapper .container-fluid .carousel .carousel-inner .carousel-item .carousel-caption h5{
        font-size: 12px;
    }
    .home .container-wrapper .container-fluid .carousel .carousel-inner .carousel-item .carousel-caption p{
        font-size: 10px;
    }
    .home .container-wrapper .container-fluid .carousel .carousel-inner .carousel-item .carousel-caption img{
        display: none;
    }
    .home .container-wrapper .container-fluid .carousel .carousel-inner .carousel-item .carousel-caption{
        top: 5%;
    }
    .home{
        height: auto;
    }

    .services .container-wrapper .container .row{
        padding: 3% 0;
        justify-content: center;
    }
    .services .container-wrapper .container .row .col-lg-6 img{
        width: 100%;
    }
    .services .container-wrapper .container .row .box h3{
        font-size: 14px;
    }
    .client .container-wrapper .container .row h2{
        padding: 5% 0;
    }
    .client .container-wrapper .container .row .col-lg-4{
        margin: 15px;
        width: 90%;
    }

    .contact .container-wrapper .container .row .title h2{
        font-size: 22px;
        font-weight: 600;
    }
    .contact .container-wrapper{
        padding: 10% 0;
    }

    .footer .container-wrapper .container .row .col-lg-5 h2{
        text-align: center;
    }


    .copy-right .container .row .col-lg-6 a{
        font-size: 11px;
    }
    .copy-right .container .row .col-lg-6 p{
        font-size: 11px;
    }

    .about-home .container-wrapper .container-fluid .row .about-titel{
        padding: 0 3%;
    }
    

    .manage-home .container-wrapper .container .row{
        padding: 10% 0;
    }


    .audit .container-wrapper{
        padding: 10% 0;
    }
    .audit .container-wrapper .container .row{
        justify-content: center;
    }
    .audit .container-wrapper .container .row .col-lg-4{
        width: 90%;
        justify-content: center;
        margin-bottom: 20px;
    }


    .fire-home .container-wrapper .container{
        padding: 10% 0;
    }
    .fire-home .container-wrapper .container .row{
        padding: 0 3%;
    }

    .pest-control .container-wrapper .container .row{
        padding: 10% 0;
        justify-content: center;
    }
    .pest-control .container-wrapper .container .row .col-lg-6{
        padding: 3%;
    }
    .pest-control .container-wrapper .container .row .col-lg-6 img{
        width: 100%;
    }

    .lps-system .container-wrapper .container .row .col-lg-12 p{
        margin-bottom: 1px;
    }
    .lps-system .container-wrapper .container .row h3{
        padding: 10px 0;
        text-align: center;
    }
    .lps-system .container-wrapper .container .row h4{
        padding-top: 10px;
    }

    .safety-sign .container-wrapper .container .row .col-lg-4{
        justify-content: center !important;
        margin-bottom: 20px;
    }
    .safety-sign .container-wrapper .container .row .col-lg-3 img{
        width: 100px;
    }

    .slider .container-wrapper .container-fluid .row .slide,
    .slider .container-wrapper .container-fluid .row .carousel-inner
    {
    height: 30vh !important;
    padding: 0;
    }

    .training .container-wrapper .container .row{
        justify-content: center;
    }
    .training .container-wrapper .container .row .col-lg-4 .card{
        width: 100% !important;
        margin-bottom: 20px;
    }
}