/*=================================================
    =====> Min-Width: 768px Screen Start <=====
===================================================*/
@media only screen and (min-width: 768px){
    .dropdown:hover .dropdown-menu{
        display: block;
    }
}
/*=================================================
    =====> Max-Width: 992px Screen Start <=====
===================================================*/
@media only screen and (max-width: 992px) {
    .sticky{
        height: 63px;
        position: fixed !important;
        top: 0 !important;
        width: 100% !important;
        background: var(--text-white);
    }
    .heading .navbar{
        padding: 0;
    }
    .heading .navbar .container-fluid {
        padding: 14px 30px;
        /* background: var(--primary-color); */
        background: var(--text-white);
    }
    .heading .navbar .container-fluid img{
        width: 60px !important;
        height: 60px;
        display: flex;
        left: 45%;
        top: 5px;
        position: absolute;
        padding: 2px 0;
    }
    .container-fluid .collapse .navbar-nav{
        padding: 1rem 0;
    }
    .heading .navbar .collapse .navbar-nav .nav-item{
        transition: none;
    }
    .heading .navbar .collapse .navbar-nav{
        padding-bottom: 0;
    }
    .heading .navbar .collapse .navbar-nav .nav-item{
        border-bottom: 1px solid var(--text-gray);
    }
    .heading .navbar .collapse .navbar-nav .nav-item .nav-link{
        border-right: none;
        padding: 10px 0;
    }
    .heading-top .container-wrapper .container .row .content{
        justify-content: center;
    }
    .heading-top .container-wrapper .container .row .content .text{
        display: none;
    }
}